* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
}
.mobile_header {
  display: none;
}
.header_main_section {
  width: 100%;
  background-image: url('./assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  display: block;
  padding: 30px 0px;
}
header {
  width: 90%;
  margin: auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo_box {
  width: 15%;
}
.logo_box span {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.menu_list_box {
  width: 70%;
}
.menu_list_box ul {
  display: flex;
  list-style: none;
  justify-content: end;
}
.menu_list_box ul li {
  margin-right: 50px;
  color: #fff;
}
.menu_list_box ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}
.get_now_btn_box {
  width: 15%;
  text-align: center;
}
.get_now_btn_box a {
  border: 1px solid #fff;
  padding: 8px 30px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}
.header_banar_box {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banar_left_content_box {
  width: 50%;
}
.banar_left_content {
  width: 100%;
  padding: 10px 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.banar_left_content h2 {
  font-size: 35px;
  font-weight: 700;
}
.banar_left_content p {
  margin: 25px 0px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
.left_btn_box {
  width: 100%;
  display: flex;
  align-items: center;
}
.left_btn_box .btn_one {
  padding: 10px 20px;
  background-color: #5d58f7;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  margin-right: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.left_btn_box .btn_two {
  color: #5d58f7;
  font-size: 15px;
  font-weight: 600;
  margin-left: 30px;
}
.section_2 {
  width: 100%;
  height: 800px;
  position: relative;
  display: flex;
  align-items: center;
}
.section_2::before {
  content: '';
  clear: both;
  width: 60%;
  height: 100%;
  background-image: url('./assets/section_2_bg.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.exclusive_features_box {
  width: 100%;
  height: 600px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 10px;
}
.exclusive_features_box h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding-top: 50px;
  margin: 15px 0px;
}
.exclusive_features_box p {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.ex_feature_service_main_box {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  height: 80%;
}
.ex_fe_service_box {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
}
.ex_fe_service_box img {
  /* width: 60%;
  margin-bottom: 10px; */
}
.ex_fe_service_box h3 {
  font-size: 25px;
  margin: 12px 0px;
  font-weight: 700;
}
.ex_fe_service_box p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
}
.mejor_main_section {
  width: 100%;
  padding: 30px 0px;
}
.mejor_section_title_box {
  width: 80%;
  margin: auto;
  text-align: center;
}
.mejor_section_title_box h3 {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  margin: 5px 0px;
}
.mejor_section_title_box p {
  font-size: 16px;
  font-weight: 500;
}

.mejor_section_content {
  padding: 0px 40px 0px 60px;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mejor_section_content img {
  width: 100px;
}
.mejor_section_content h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  margin: 10px 0px;
}
.mejor_section_content span {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  margin: 10px 0px;
}
.mejor_section_content a {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  margin: 10px 0px;
  text-decoration: none;
}
.mejor_section_content_img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/mejor_sec_1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.mejor_section_content_img_2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/mejor_sec_2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.mejor_section_content_img_3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/mejor_sec_3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.more_awesome_main_box {
  width: 100%;
  height: 850px;
  background-image: url('./assets/shape\ _\ bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.more_awesome_title_box {
  width: 100%;
  padding: 50px 20px;
  text-align: center;
}
.more_awesome_title_box h3 {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  margin: 5px 0px;
}
.more_awsome_content_box {
  width: 80%;
  margin: 0px auto;
  display: flex;
  align-items: center;
}
.more_awsome_content {
  width: 60%;
  margin-top: 20px;
}
.more_awsome_img {
  width: 100%;
  position: relative;
}
.more_awsome_img img {
  margin-top: 100px;
}
.more_aws_ser_box_row {
  width: 100%;
  display: flex;
}
.more_aws_ser_box {
  padding: 20px 30px;
  margin: 20px 30px;
}
.more_aws_ser_box img {
  margin: 10px 0px;
}
.more_aws_ser_box h4 {
  font-size: 20px;
  margin: 10px 0px;
}
.more_aws_ser_box p {
  font-size: 16px;
  line-height: 25px;
}
.latest_post_section {
  width: 100%;
  padding: 30px 0px;
}
.latest_post_title {
  width: 90%;
  margin: 0px auto;
  padding: 20px;
  text-align: center;
}
.latest_post_title h3 {
  font-size: 35px;
  font-weight: 700;
  margin: 10px 0px;
}
.latest_post_title p {
  font-size: 15px;
  font-weight: 500;
}
.blog_post_box {
  width: 80%;
  margin: 0px auto;
  display: flex;
  align-items: center;
}
.blog_post_img {
  width: 100%;
  padding: 20px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog_post_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog_post_content {
  width: 100%;
  height: 300px;
  padding: 20px 10px;
}
.blog_post_content h3 {
  font-size: 26px;
  margin: 10px 0px;
  line-height: 33px;
  font-weight: 700;
}
.blog_post_content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  margin: 15px 0px;
  color: #000;
}
.blog_post_content a {
  margin-top: 15px;
  font-weight: 500;
}
.get_app_now {
  width: 100%;
  height: 600px;
  background-image: url('./assets/get_app_now.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.get_app_content {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.get_app_content h3 {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}
.get_app_content p {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  text-align: justify;
  line-height: 25px;
  margin: 10px 0px 25px 0px;
}
.playStore_img_box img {
  margin: 5px 10px 5px 0px;
}
.get_app_img_box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.get_app_img_box img {
  width: 40%;
  object-fit: contain;
  position: absolute;
  bottom: 0;
}
.team_img_slider_section {
  width: 100%;
  padding: 30px 0px 100px 0px;
}
.trust_team_title {
  width: 100%;
  text-align: center;
  padding: 80px 0px;
}
.trust_team_title h2 {
  font-size: 35px;
  font-weight: 700;
}
.team_slider {
  width: 100%;
  height: 130px !important;
  text-align: center !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team_slider img {
  width: 65%;
  object-fit: contain;
  margin-left: 40px;
}
.slick-dots li button:before {
  font-family: slick;
  font-size: 12px !important;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 0.25;
  color: #000;
  -webkit-font-smoothing: antialiased;
}
.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: #5d58f7 !important;
}
footer {
  background-color: #1f1f2a;
}
.footer_logo_box p {
  color: #f9f9f9;
  font-size: 14px;
  margin-top: 18px;
  line-height: 25px;
}
.footer_logo_box ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0px;
}
.footer_logo_box ul li {
  margin-right: 22px;
}
.footer_logo_box ul li a i {
  color: #f8f8f8;
}
.contact_info_box h3 {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
}
.twitter_feeds h3 {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 28px;
}
.insta h3 {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 28px;
}
.insta p {
  color: #f8f8f8;
}
.twitter_feeds span {
  display: block;
  color: #f9f9f9;
  font-size: 14px;
}
.insta p span {
  font-weight: 600;
}
.twitter_feeds span i {
  color: #5d58f7;
}
.contact_info_box li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ffff;
  line-height: 38px;
  font-weight: 500;
  font-size: 17px;
}
.contact_info_box li i {
  color: #ffff;
  margin-right: 8px;
}
.contact_info_box ul {
  margin: 0;
  padding: 0;
}

.insta_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0px;
}
.copyright_text {
  color: #f8f8f8;
}
.copyright_text span {
  color: #5d58f7;
  font-weight: 600;
}
.footer_menu_box ul li {
  color: #f8f8f8;
  font-weight: 400;
}

.bottom_footer {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  border-top: 0.5px solid #959595;
}
.footer_menu_box ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.footer_menu_box ul li {
  list-style: none;
  margin-right: 30px;
}
@media screen and (max-width: 1300px) {
  * {
    overflow-x: hidden;
  }
  h1,
  h2,
  h3,
  h4 {
    overflow: hidden;
  }
  .mobile_header {
    display: block;
  }
  .header_main_section {
    height: 100%;
  }
  .desktop_header header {
    display: none !important;
  }
  .exclusive_features_box {
    height: 100%;
    margin: 50px 0px;
  }
  .section_2 {
    height: fit-content;
  }
  .exclusive_features_box {
    height: 100%;
  }
  .more_awesome_main_box {
    height: 100%;
  }
  .more_awsome_img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blog_post_content {
    height: 100%;
  }
  .trust_team_title {
    width: 100%;
    text-align: center;
    padding: 60px 10px;
    height: 100%;
  }
  .trust_team_title h2 {
    font-size: 35px;
    font-weight: 700;
    overflow: hidden;
  }
  .more_aws_ser_box {
    padding: 10px 10px;
    margin: 10px 20px;
  }
  .footer_logo_box,
  .contact_info_box,
  .twitter_feeds,
  .insta {
    margin: 25px 20px;
  }
  .bottom_footer {
    height: 100%;
  }
  .copyright_text {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer_menu_box {
    padding: 20px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer_menu_box ul li {
    margin-right: 20px;
    font-size: 15px;
  }
  .mejor_section_content {
    padding: 30px 30px 30px 30px;
    width: 100%;
    height: 100%;
  }
  .more_awesome_title_box {
    width: 100%;
    padding: 20px 20px;
    text-align: center;
  }
  .blog_post_img {
    padding: 10px;
  }
  .get_app_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 70px 10px 0px 10px;
  }
  .get_app_img_box img {
    width: 45%;
  }
  .get_app_now {
    /* height: 750px; */
  }
  .team_slider_main.multiple_items.slick-initialized.slick-slider.slick-dotted {
    overflow: hidden;
    height: 150px;
  }
  .team_slider img {
    width: 90%;
    object-fit: none;
    margin-left: 0px;
    height: 100%;
  }
  .banar_left_content {
    padding: 45px 20px;
  }
  .playStore_img_box img {
    width: 45%;
  }

  .mob_head {
    width: 100%;
    padding: 0px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    background-color: #5d58f7;
  }
  .mobile_menu {
    display: block;
    z-index: 999999;
    position: absolute;
    width: 100%;
    background: #fff;
    left: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    top: 80px;
    height: 0px;
    transition: all 0.2s linear;
  }
  .mobile_menu.active {
    height: 345px;
  }
  .mobile_menu ul {
    margin: 0;
    padding: 0;
  }
  .mobile_menu ul li {
    list-style: none;
    margin-top: 15px;
  }
  .mobile_menu ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    line-height: 30px;
  }
  .mobile_logo span {
    width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .humbergerIcon_box span {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 35px;
    border-radius: 4px;
  }
  .humbergerIcon_box span i {
    font-size: 28px;
  }
  .more_awsome_img img {
    margin-top: 190px;
  }
}

@media screen and (max-width: 770px) {
  .get_app_now {
    height: 750px;
  }
  .get_app_img_box img {
    width: 90%;
  }
  .more_awsome_img img {
    margin-top: 50px;
  }
}
